.navigation {
    width: 100%;
    height: 14vh;
    background-color:#dcfadc;
    color: white;
    position: fixed;
    top: 0;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.logo {
    
    height: 70px;
    padding: 1em;
    float: left;
}

.navListItem  {
    color:black;
    text-decoration: none;
}

.listItem {
    display: inline-block;
    height: auto;
    margin-right: 2%;
    cursor: pointer;
    padding: 0.5%;
    margin: 0.1%;
    vertical-align: top;
    border-right: 1px solid #dcfadc;
    border-left: 1px solid #dcfadc;
    border-bottom: 1px solid #dcfadc;
    border-top: 1px solid #dcfadc;
}
    .listItem:not(:first-child) {
        padding: 2%;
        margin-top: 1.5%; 
    }
.listItem:hover {
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid lightgreen;
    border-top: 2px solid lightgreen;
    font-weight: bold;
}

.nameItem {
    display: inline-block;
    height: auto;
    margin-right: 2%;
    cursor: unset;
    padding: 0.5%;
    margin: 0.1%;
    vertical-align: top;
    color:black;
}
.nameItem:not(:first-child) {
    padding: 2%;
    margin-top: 1.5%; 
}